  <div>
    <p><%= raw comment.content.gsub("\n","<br />") %></p>
    <p style="text-align:right; margin-bottom:0;"><%=
      comment.created_at.localtime.strftime("%Y-%m-%d %H:%M:%S") %></p>
    <p style="text-align:right; margin-top:0;"><%= comment.author.email %></p>
  </div>
