  <div>
    <p><%= comment.content %></p>
    <p style="text-align:right; margin-bottom:0;"><%= comment.created_at %></p>
    <p style="text-align:right; margin-top:0;"><%= comment.author.email %></p>
  </div>
