/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body { margin:0; }
* { font-family: "맑은 고딕" !important}
div.headline { background:black; color:white;  padding:2px; }
div.headline h1 { display:inline; }
div.headline ul { float:right; }
table {width:98%; margin:3px auto; }
table th { border-top:1px solid #888; background:#ccc; }
table tr:first-child td { border-top:1px solid #888; }
table th:first-child, table td:first-child { border-left:1px solid #888; }
table th, table td { border-bottom:1px solid #888; }
table th, table td { border-right:1px solid #888; }
a { text-decoration:none; font-style:italic; }

input, textarea, select { border:1px solid #888; font-size:1em; }

td div { border-top:1px dashed #888; }
td div:first-child { border-top:0; }
td.fmt-nowrap div { white-space:nowrap; }
.fmt-underline { text-decoration:underline; }

.align-center { text-align:center; }

.headline ul { margin:0; }
.headline ul li { display:inline; list-style: none; }

/* override */
.td-header { background: url("/css/images/ui-bg_diagonals-thick_8_333333_40x40.png") repeat scroll 50% 50% #333333; }
.td-header { text-align:center; font-weight:bold; color:#ddd; }
.td-content { padding:0 1em; }

div.todo-comment p {margin:0}

.help { font-style:italic; font-weight:normal; font-size:10pt !important;
	color:#000; background:#dd5;}
.help { background: url("/css/images/ui-bg_diagonals-help.png") repeat scroll 50% 50%; }
