/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body { margin:0; }
* { font-family: "맑은 고딕" !important}
div.headline { background:black; color:white;  padding:2px; text-align:right; }
table {width:98%; margin:auto; }
table th { border-top:1px solid gray; background:#ccc; }
table th:first-child, table td:first-child { border-left:1px solid gray; }
table th, table td { border-bottom:1px solid gray; }
table th, table td { border-right:1px solid gray; }

input, textarea, select { border:1px solid gray; font-size:1em; }
textarea {width:30em}

td div { border-top:1px dashed gray; white-space:nowrap; }
td div:first-child { border-top:0; white-space:nowrap; }
.fmt-underline { text-decoration:underline; }
a { text-decoration:none; font-style:italic; }
